
body {
    color: #000 !important;
    background: #fff !important;
}

nav, aside, footer, .tlacitko {
    display: none;
}

.layout-dva-sloupce {
    display: block;
    margin: 0;
    padding: 0;
}

a[href]:after {
    content: " (" attr(href) ")";
    word-break: break-all;
}

header#identifikace {
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    padding: 0;
}
header#identifikace a::after {
    content: " (http://www.elektro-kohoutek.cz)";
    font-size: 0.8em;
    color: #666;
    display: block;
}